* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --facebook:#3b5999;
  --twitter: #55ACee;
  --googlePlus: #dd4B39;
  --linkedin: #0077B5;
  --instagram: #E4405F; 
}

html, body, ul {
  width: 100%;
  height: 100%;
}

ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
     position: relative;
     list-style: none;
     width: 60px;
     height: 60px;
     margin: 0 30px;
     transform: rotate(-30deg) skew(25deg);
     background: #ccc;
     margin: 200px auto;
 }

 ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px !important;
    border-radius: 4px;
  }

  ul li:hover span {
     box-shadow: -1px 1px 1px rgba(0,0,0,.1);
 }

 ul li:hover span
 {
     box-shadow: -1px 1px 1px rgba(0,0,0,.1);
 }

ul li:hover span:nth-child(5) {
  transform: translate(50px, -50px);
}

ul li:hover span:nth-child(4) {
  transform: translate(40px, -40px);
}

ul li:hover span:nth-child(3) {
  transform: translate(30px, -30px);
}

ul li:hover span:nth-child(2) {
  transform: translate(20px, -20px);
}

ul li:hover span:nth-child(1) {
  transform: translate(10px, -10px);
}

ul li:nth-child(1) span {
  background: var(--facebook);
}
ul li:nth-child(2) span {
  background: var(--twitter);
}
ul li:nth-child(3) span {
  background: var(--googlePlus);
}
ul li:nth-child(4) span {
  background: var(--linkedin);
}
ul li:nth-child(5) span {
  background: var(--instagram);
}
